body{

 background-color: rgb(202, 201, 201);
 
}






/* 
************************************************************
                  Header starts here
************************************************************ */


.Header {
  background-color: black;
  color: white;

  padding:0px 25px;
  margin: 0;
  display:flex;
  flex-direction:row;
}
.Header img {
  width:10%;

}

.Header h4
{
  padding:0px 20px ;
  margin: 24px;
}

.Header input
{
  padding:0px 20px ;
  margin: 14px 0px;
  width: 350px;
  height: 35px;
  border: 3px solid rgb(255, 166, 82);
  border-radius:4px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}


.box0
{
  background-color: rgb(255, 166, 82);
  margin: 14px -5px;
  padding: 9px 3px;
  height: 21px;
  width: 39px;
  border: 1px solid rgb(255, 166, 82);
  border-radius: 4px;
}
.box0 img
{  margin:-3px 5px;
  width:30px;
}



/* 
************************************************************
                 Menu starts here
************************************************************ */



.Menu {
  background-color: #182335;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.Menu h5
{
  padding: 4px 14px;
  margin: 13px 0px;
}

a{
  text-decoration: none;
  color:white;
}

.Menu img
{
  
  padding: 0px 16px;
  margin: 0px 4px;
}


/* 
************************************************************
                 MenuItem  starts here
************************************************************ */

.MenuItem
{
width:100%;

}

.MenuItem img
{
width: 100%;

}

/* 
************************************************************
                 ItemList 1  starts here
************************************************************ */
.ItemList1
{
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding:0px;
  position: absolute;
  top:350px;
  background-color: rgb(202, 201, 201);

}

.ItemList1 div
{
  padding: 10px;
  margin: 2px 0px 0px 29px;
  background-color: rgb(255, 255, 255);
  width: 282px;
  height: 300px;
}



/* 
************************************************************
                  Footer starts here
************************************************************ */



.Footer {
  background-color: black;
  color: white;
  text-align: center;
  padding:10px;
  position: absolute;
  bottom: -222px;
  margin: 0px;
  width: 98.5%;
}
