body{

 background-color: rgb(202, 201, 201);
 
}
html { 
  scroll-behavior: smooth;
 }


a{
  text-decoration: none;
  color:black;
}





/* 
************************************************************
                  Header starts here
************************************************************ */


.Header {
  background-color: black;
  color: white;

  padding:0px 25px;
  margin: 0;
  display:flex;
  flex-direction:row;
}
.Header img {
  width:75%;

}

.Linklogo {
  margin: 0px;
  width: 165px;
}


.Header h4
{
  padding:0px 20px ;
  margin: 24px;
}

.Header input
{
  padding:0px 20px ;
  margin: 14px 0px;
  width: 350px;
  height: 35px;
  border: 3px solid rgb(255, 166, 82);
  border-radius:4px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}


.box0
{
  background-color: rgb(255, 166, 82);
  margin: 14px -5px;
  padding: 9px 3px;
  height: 21px;
  width: 39px;
  border: 1px solid rgb(255, 166, 82);
  border-radius: 4px;
}
.box0 img
{  margin:-3px 5px;
  width:30px;
}



/* 
************************************************************
                 Menu starts here
************************************************************ */



.Menu {
  background-color: #182335;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.Menu h5
{
  padding: 4px 14px;
  margin: 13px 0px;
}

a{
  text-decoration: none;
  color:white;
}

.Menu img
{
  
  padding: 0px 16px;
  margin: 0px 4px;
}


/* 
************************************************************
                 MenuItem  starts here
************************************************************ */

.MenuItem
{
width:100%;

}

.MenuItem img
{
width: 100%;

}

/* 
************************************************************
                 ItemList 1  starts here      means slot 1 
************************************************************ */
.ItemList1
{
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding:0px;
  
  position: absolute;
  top:350px;
  background-color: rgb(202, 201, 201);

}

/* Card div of the 1 slot */

.ItemList1>div
{
  padding: 20px;
  margin: 2px 0px 0px 29px;
  background-color: rgb(255, 255, 255);
  width: 262px;
  height: 370px;
}

.ItemList1 h2
{
  text-align: center;
  margin: 0;
}

.ItemList1 h5
{
 color:black; 
  margin: 0;
}




/* Actual content in the card */

.ItemList1>div  content
{padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}
  

.ItemList1>div  content div
{padding: 2px 5px;
  margin: 0px 10px;
  width: 32%;
  background-color: rgb(255, 255, 255);
}

/*  img in the div in the Content */
.ItemList1>div  content img                  
{
  position: relative;
  width: 100%;
  left: 11px;
}

.ItemList1>div  content p                  
{position: relative;
  /* width: 100%; */
  left: 11px;
  top: -8px;
  margin: 0px;
 
}

 p a{ color:black;}


/**************************************************************** */


/* 2nd Card div of the 1 slot */
.link-seemore h5
{
  color:rgb(86, 165, 255);
  position: relative;
  top: 20px;

}

/*  img in the div in the Content of 2ND CARD */
.il12 content img                  
{
  position: relative;
  width: 100%;
  height: 300px;
  left: -50px;
}

/**************************************************************** */

/* 3rd Card div of the 1 slot */
.il13 h2
{
  margin:0px;
  font-size: 22px;
}

.link-seemore2 h5
{
  color:rgb(86, 165, 255);
  position: relative;
  top: -5px;

}

.il13 content
{
  margin: 30px 0px !important ;
  color: red;
}

/**************************************************************** */
.il14 
{padding: 0px !important;
  margin: 2px 0px 0px 29px !important;
  background-color:rgb(202, 201, 201) !important;
  width: 325px !important;
}



.il14 div
{background-color: white;
  margin: -2px 0px 24px;
  padding: 23px 17px;
  width: 260px;
  font-size: 14px;
}

.il14 h2
{
  padding: 0px !important;
  margin: 4px 0px 0px 0px !important;
}

.il14 div img
{
  width: 46%;
  position: relative;
  left: 65px !important;

}



.spacehome
{
  width: 800px;
  height: 150px;

}


/* 
************************************************************
                  Footer starts here
************************************************************ */

.move {

  /* position: relative;
  top: 122px; */
  height: 35px !important;
  padding: 20px 0px;
  margin-top: 30px;


}

.move :hover {
background-color:#385179;

}
.move h4 
{
  background-color:  #2d3f5c;
  padding: 15px;
  margin: 0px;
  color: white;
  text-align: center;
}




.Footer-basic{
  background-color: #182335;
  color: white;
  text-align: center;
  padding:10px;
  
  margin: -4px 0px;
  width: 100%;
}


.Footer-basic 
{display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 0px;
}

.Footer-basic div
{ display: flex;
  flex-direction: column;
  margin: 0px;
  text-align: left;
}


.Footer-basic div h5
{
  padding: 6px;
    margin: 0px;
}


.amazon-international
{background-color: #182335;
  color: white;
  text-align: center;
  margin: -4px 0px;
  width: 100%;
}


.amazon-international 
{display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 0px;
  color: #182335;
}

.amazon-international div
{ display: flex;
  flex-direction: column;
  margin: 0px;
  text-align: left;
  
}


